@import "bootstrap";
@import "./trash_box";
@import "./records";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
// 全画面表示
.box {
  width: 100vw;
  height: 100vh;
}
